@import '_variables.scss';

:root {
  --page-padding-top: 120px;
  --page-padding: 80px;
  --component-padding-x: 100px;
  --component-padding-y: 100px;
}

@font-face {
  font-family: 'Quarto';
  src: url("./fonts/Quarto-Regular.woff2") format('woff2'),
    url("./fonts/Quarto-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('./fonts/GothamHTF-Light.woff2') format('woff2'),
    url('./fonts/GothamHTF-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('./fonts/GothamHTF-Book.woff2') format('woff2'),
    url('./fonts/GothamHTF-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('./fonts/GothamHTF-Bold.woff2') format('woff2'),
    url('./fonts/GothamHTF-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('./fonts/GothamHTF-Medium.woff2') format('woff2'),
    url('./fonts/GothamHTF-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

::selection {
  background: $red-50;
}

* {
  quotes: '“' '”';
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.813em;
  height: 100%;
}

body {
  font-family: 'Markazi Text', serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: $dark-gray;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  // padding-top: 120px;
  &.noscroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

// Serif: Big
h2,.h2 {
  font-family: "Quarto", mono;
  font-size: 72px;
  line-height: 82px;
}

// Serif: Medium
h3,.h3 {
  font-family: "Quarto", mono;
  font-size: 48px;
  line-height: 67px;
}

// Serif: Small
h4,.h4 {
  font-family: "Quarto", mono;
  font-size: 36px;
  line-height: 46px;
}

// Sans: Large (Categories)
h5,.h5 {
  font-family: "Gotham HTF", mono;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

// Sans: Small (Nav, CTAs)
h6,.h6 {
  font-family: "Gotham HTF", mono;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

// Sans: Header copy
.description {
  font-family: "Gotham HTF", mono;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

.subtext {
  font-family: "Quarto", mono;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.accent {
  color: $accent;
}

.gray {
  color: $gray;
}

.white {
  color: $white;
}

.body {
  color: $body;
}

.accent-bg {
  background-color: $accent;
}

.dark-gray-bg {
  background-color: $dark-gray;
}

.light-gray-bg {
  background-color: $light-gray;
}

h3 strong,
h3 b {
  background-image: linear-gradient(to right, $dark-gray 50%, $accent 50%);
  background-position: 0;
  background-size: 200%;
  transition: all 800ms;
  &.highlight {
    background-position: -100%;
  }
}

@keyframes FloatY {
  0%, 100% {
    bottom: 43px;
  }
  50% {
    bottom: 37px;
  }
}

.hero {
  height: 100vh;
  padding-top: 120px;
  padding-top: var(--page-padding-top);
  .centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    p.description {
      max-width: 600px;
      margin-top: 40px;
    }
  }
  .hero-advance {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    animation: FloatY 2000ms var(--transition-custom) infinite;
    cursor: pointer;
  }
}

section {
  padding-left: 80px;
  padding-left: var(--page-padding);
  padding-right: 80px;
  padding-right: var(--page-padding);
  &.pad-top {
    padding-top: 100px;
    padding-top: var(--component-padding-y);
  }
}

// Responsive
@media only screen and (max-width: 1050px) {
  :root {
    --page-padding: 40px;
    --component-padding-y: 80px;
    --component-padding-x: 40px;
  }
  body {
    font-size: 24px;
    line-height: 28px;
  }
  h2,.h2 {
    font-size: 64px;
    line-height: 74px;
  }
  h3,.h3 {
    font-size: 42px;
    line-height: 61px;
  }
  h4,.h4 {
    font-size: 30px;
    line-height: 40px;
  }
  h5,.h5 {
    font-size: 14px;
    line-height: 16px;
  }
  h6,.h6 {
    font-size: 12px;
    line-height: 20px;
  }
  .description {
    font-size: 20px;
    line-height: 32px;
  }
  .subtext {
    font-size: 18px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --page-padding: 30px;
    --component-padding-y: 60px;
    --component-padding-x: 30px;
  }
  h2,.h2 {
    font-size: 44px;
    line-height: 50px;
  }
  h3,.h3 {
    font-size: 36px;
    line-height: 45px;
  }
  h4,.h4 {
    font-size: 26px;
    line-height: 36px;
  }
  h5,.h5 {
    font-size: 14px;
    line-height: 16px;
  }
  h6,.h6 {
    font-size: 12px;
    line-height: 20px;
  }
  .description {
    font-size: 18px;
    line-height: 30px;
  }
  .subtext {
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --page-padding: 15px;
    --component-padding-y: 40px;
    --component-padding-x: 20px;
  }
  h2,.h2 {
    font-size: 36px;
    line-height: 45px;
  }
  h3,.h3 {
    font-size: 26px;
    line-height: 36px;
  }
  h4,.h4 {
    font-size: 22px;
    line-height: 32px;
  }
  h5,.h5 {
    font-size: 14px;
    line-height: 16px;
  }
  h6,.h6 {
    font-size: 12px;
    line-height: 20px;
  }
  .description {
    font-size: 16px;
    line-height: 28px;
  }
  .subtext {
    font-size: 14px;
    line-height: 18px;
  }
}
